@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
@model List<NewsCollectionViewModel>
<div>    
    <p>
        @Localizer["String1"]
    </p>
    <p>
        @Localizer["String2"]
    </p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active my-img">
            <img src="~/images/product1.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item my-img">
            <img src="~/images/product2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item my-img">
            <img src="~/images/product3.png" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item my-img">
            <img src="~/images/product4.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>
        <div class="item my-img">
            <img src="~/images/product5.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="news">
    <h2>@Localizer["String3"]</h2>
        @if (Model != null && Model.Count > 0)
        {
            foreach (NewsCollectionViewModel news in Model)
            {
                <div class="news-content media">
                    @if (news.Image != null)
                    {
                        <div class="media-left">
                            <img class="media-object news-img" src="data:image;base64,@Convert.ToBase64String(news.Image)">
                        </div>
                    }
                    <div class="media-body">
                        <h4 class="media-heading">@news.Title</h4>
                        <p>@news.Discription</p>
                    </div>
                    <div class="news-footer">
                        <h5 class="media-right news-date">@(news.Date.Day).@(news.Date.Month).@(news.Date.Year)</h5>
                        <a id="fullnews_button" class="btn btn-primary news-btn" asp-area="" asp-controller="News" asp-action="FullNews" asp-route-news_id="@news.Id">@Localizer["String5"]</a>
                    </div> 
                </div>
            }
        }
        else
        { 
            <h3>@Localizer["String4"]</h3>
        }
</div>