@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
}
@model BoatViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadBoysBoating</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div id="login_window" class="dialog_window">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>@Localizer["String1"]</h2>
                </div>
                <div class="modal-body">
                    <form asp-action="Add" asp-controller="Boat" asp-anti-forgery="true" enctype="multipart/form-data" method="post">
                        <div class="validation" asp-validation-summary="ModelOnly" />
                        <div>
                            <p>@Localizer["String2"]:</p>
                        </div>
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="ManufacturerName">@Localizer["String3"]</label>
                            <input type="text" class="form-control input-field" asp-for="ManufacturerName" />
                            <span asp-validation-for="ManufacturerName" />
                        </div>
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="BoatModel">@Localizer["String4"]</label>
                            <input type="text" class="form-control input-field" asp-for="BoatModel" />
                            <span asp-validation-for="BoatModel" />
                        </div>
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="Lenght">@Localizer["String5"]</label>
                            <input type="text" class="form-control input-field" asp-for="Lenght" />
                            <span asp-validation-for="Lenght" />
                        </div>
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="Width">@Localizer["String6"]</label>
                            <input type="text" class="form-control input-field" asp-for="Width" />
                            <span asp-validation-for="Width" />
                        </div>
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="Displacement">@Localizer["String7"]</label>
                            <input type="text" class="form-control input-field" asp-for="Displacement" />
                            <span asp-validation-for="Displacement" />
                        </div>                       
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="Speed">@Localizer["String8"]</label>
                            <input type="text" class="form-control input-field" asp-for="Speed" />
                            <span asp-validation-for="Speed" />
                        </div>
                        <div class="form-group input-group">
                            <label class="input-group-addon" asp-for="Cost">@Localizer["String9"]</label>
                            <input type="text" class="form-control input-field" asp-for="Cost" />
                            <span asp-validation-for="Cost" />
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" asp-for="Type">@Localizer["String10"]</label>
                            <select asp-for="Type" class="form-control input-field">
                                <option value="yacht">@Localizer["String11"]</option>
                                <option value="boat">@Localizer["String12"]</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" asp-for="Kind">@Localizer["String13"]</label>
                            <select asp-for="Kind" class="form-control input-field">
                                <option value="buy">@Localizer["String14"]</option>
                                <option value="rent">@Localizer["String15"]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="input-label" asp-for="Description">@Localizer["String16"]</label>
                            <textarea class="form-control input-field" asp-for="Description" rows="10"></textarea>
                            <span asp-validation-for="Description" />
                        </div>
                        <div class="form-group">
                            <label class="input-label">@Localizer["String17"]</label>
                            <input type="file" multiple name="files">
                        </div>
                        <div class="form-group modal-footer">
                            <input type="submit" value="@Localizer["String18"]" id='add' class="btn" />
                            <a asp-area="" asp-controller="User" asp-action="Index" class="btn btn-default">@Localizer["String19"]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>