@{
    Layout = null;
}
@model BoatViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadBoysBoating</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div id="login_window" class="dialog_window">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>@Localizer["String1"]</h2>
                </div>
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Boat" asp-anti-forgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly" />
                        <div>
                            <p>@Localizer["String2"]</p>
                        </div>
                        <div class="input-group form-group">
                            <label class="input-group-addon" asp-for="Speed">@Localizer["String3"]</label>
                            <input type="text" class="form-control" asp-for="Speed" />
                            <span asp-validation-for="Speed" />
                        </div>
                        <div class="input-group form-group">
                            <label class="input-group-addon" asp-for="Cost">@Localizer["String4"]</label>
                            <input type="text" class="form-control" asp-for="Cost" />
                            <span asp-validation-for="Cost" />
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" asp-for="Type">@Localizer["String5"]</label>
                            <select asp-for="Type" class="form-control">
                                <option value="yacht">Яхта</option>
                                <option value="boat">Катер</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon" asp-for="Kind">@Localizer["String6"]</label>
                            <select asp-for="Kind" class="form-control">
                                <option value="buy">Продажа</option>
                                <option value="rent">Аренда</option>
                            </select>
                        </div>
                        <div class="input-group form-group">
                            <label class="input-group-addon" asp-for="Description">@Localizer["String7"]</label>
                            <textarea class="form-control" asp-for="Description" rows="10"></textarea>
                            <span asp-validation-for="Description" />
                        </div>
                        <div class="form-group modal-footer">
                            <input type="submit" value="@Localizer["String8"]" id='add' class="btn" />
                            <a asp-area="" asp-controller="User" asp-action="Index" class="btn btn-default">@Localizer["String9"]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>