@model NewsViewModel
<div id="about_description" class="news-content">
    <div class="page-header">
        <h2>@Model.Title</h2>
        <p></p>
    </div>   
    <div class="preview">
        <h3>@Model.Discription</h3>
        @if (Model.Images != null && Model.Images.Count > 0)
        {
            <img class="news-img center-block" src="data:image;base64,@Convert.ToBase64String(Model.Images.First())" alt="">
        }
    </div>
    <div class="news-text">
        @foreach (String item in Model.Text.Split(new char[] { '\r', '\n' }))
        {
            if (item.Length > 0)
            {
                <h4>@item</h4>
            }
        }
    </div>
    <div>
        <h4 class="news-date">@(Model.Date.Day).@(Model.Date.Month).@(Model.Date.Year)</h4>
        <ul class="pager">
            <li><a class="pager-btn-left" asp-area="" asp-controller="News" asp-action="Index" asp-route-page_num="@ViewData["CurentPage"].ToString()">Вернуться</a></li>
        </ul>
    </div>  
</div>