@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "News";
}
<div>
    <h2>@Localizer["String1"]</h2>
</div>
@if (Model != null && Model.Count > 0)
{
    foreach (NewsCollectionViewModel news in Model)
    {
        <div class="news-content media">
            @if (news.Image != null)
                    {
                <div class="media-left">
                    <img class="media-object news-img" src="data:image;base64,@Convert.ToBase64String(news.Image)">
                </div>
            }
            <div class="media-body">
                <h4 class="media-heading">@news.Title</h4>
                <p>@news.Discription</p>
            </div>
            <div class="news-footer">
                <h5 class="media-right news-date">@(news.Date.Day).@(news.Date.Month).@(news.Date.Year)</h5>
                <a id="fullnews_button" class="btn btn-primary news-btn" asp-area="" asp-controller="News" asp-action="FullNews" asp-route-news_id="@news.Id" asp-route-page_num="@ViewData["CurentPage"]">@Localizer["String2"]</a>
            </div>
        </div>
    }
    <ul class="pager">
        @{
            int page_count = Convert.ToInt32(ViewData["TotalPages"].ToString()),
                page_num = Convert.ToInt32(ViewData["CurentPage"].ToString());

            if (page_count > 1)
            {
                if (page_num >= 2)
                {
                    <li><a class="pager-btn-left" asp-area="" asp-controller="News" asp-action="Index" asp-route-page_num="@(page_num - 1)">@Localizer["String3"]</a></li>
                }
                if (page_num <= page_count - 1)
                {
                    <li><a class="pager-btn-right" asp-area="" asp-controller="News" asp-action="Index" asp-route-page_num="@(page_num + 1)">@Localizer["String4"]</a></li>
                }
            }
        }     
    </ul>
}
else
{
    <h3>@Localizer["String5"]</h3>
}