@{
    ViewData["Title"] = "Profile";
}
@model AccountViewModel
<div id="user_description">
    <div class="page-header">
        <h2>@Localizer["String1"]</h2>
    </div>
    <div id="profile">
        <div id="avatar">
            <img src="~/images/profile.jpg" />
        </div>
        <div class="user_information">
            <p> @Localizer["String2"]: @Model.Username</p>
            <p> @Localizer["String3"]: @Model.Login</p>
            <p>@Localizer["String4"]: @Model.Email</p>
            <p>@Localizer["String5"]: @Model.AccountType</p>
            <a style="color: white">_</a>
            <a asp-area="" class="btn btn-primary profile-button" asp-controller="User" asp-action="Bids" asp-route-recalls_type="inbox">@Localizer["String6"]</a>
        </div>        
        @if (Model.AccountType.Equals("customer"))
        {
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#" id="recall-btn" class="my-btn">@Localizer["String7"]</a>
                </li>
                <li>
                    <a href="#" id="product-btn" class="my-btn">@Localizer["String8"]</a>
                </li>
            </ul>
            <div id="recalls">
                @if (Model.Recalls != null && Model.Recalls.Count > 0)
                {
                    <p>@Localizer["String9"]</p>
                }
                else
                { 
                    <p></p>
                    <p>@Localizer["String10"]</p>
                }
            </div>
            <div id="products" style="display:none">
                <a asp-area="" class="btn btn-primary profile-button" asp-controller="Boat" asp-action="Add">@Localizer["String11"]</a>
                <p></p>
                @if (Model.Boats != null && Model.Boats.Count > 0)
                {
                    <div class="row boat">                       
                            @foreach (BoatCollectionViewModel item in Model.Boats)
                            {
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img src="data:image;base64,@Convert.ToBase64String(item.Image)" alt="">
                                        <div class="caption">
                                            <h3>@item.BoatModel</h3>
                                            <p>@item.Discription</p>
                                            <p>
                                                <a style="color: white">_</a>
                                                <a asp-area="" class="btn btn-primary my-btn" asp-controller="Boat" asp-action="Product" asp-route-boat_id="@item.Id">@Localizer["String12"]</a>
                                                <a asp-area="" class="btn btn-primary my-btn" asp-controller="Boat" asp-action="Edit" asp-route-boat_id="@item.Id">@Localizer["String13"]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }                                
                    </div>
                }
                else
                {
                    <p></p>
                    <p>@Localizer["String14"]</p>
                }
            </div>
            <script src="~/js/profile.js"></script>
        }
    </div>
</div>