@model List<AccountViewModel>
<div>
    <h2>@Localizer["String1"]</h2>
</div>
<div id="products">
    <div class="panel panel-default">
        <div class="panel-heading">Новости</div>
        <table class="table table-news">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Localizer["String2"]</th>
                    <th>@Localizer["String3"]</th>
                    <th>@Localizer["String4"]</th>
                    <th>@Localizer["String5"]</th>
                    <th>@Localizer["String6"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AccountViewModel item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.Login</th>
                        <th>@item.Email</th>
                        <th>@item.Username</th>
                        <th>@item.AccountType</th>
                        <th>@item.Status</th>
                        <th>
                            <a class="btn btn-primary btn-large my-btn" asp-controller="News" asp-action="DeleteNews" asp-route-news_id="@item.Id">
                                @Localizer["String7"]
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>