@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "News";
}
@model List<NewsCollectionViewModel>
<div>
    <h2>@Localizer["String1"]</h2>
</div>
<div id="products">
    <div class="panel panel-default">
        <div class="panel-heading">Новости</div>
        <table class="table table-news">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Localizer["String5"]</th>
                    <th>@Localizer["String6"]</th>
                    <th rowspan="3"><a class="btn btn-primary btn-large my-btn" asp-controller="News" asp-action="AddNews">@Localizer["String7"]</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (NewsCollectionViewModel item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.Title</th>
                        <th>@item.Date</th>
                        <th>
                            <a class="btn btn-primary btn-large my-btn" asp-controller="News" asp-action="EditNews" asp-route-news_id="@item.Id">
                                @Localizer["String2"]
                            </a>
                        </th>
                        <th>
                            <a class="btn btn-primary btn-large my-btn" asp-controller="News" asp-action="FullNews" asp-route-news_id="@item.Id">
                                @Localizer["String3"]
                            </a>
                        </th>
                        <th>
                            <a class="btn btn-primary btn-large my-btn" asp-controller="News" asp-action="DeleteNews" asp-route-news_id="@item.Id">
                                @Localizer["String4"]
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>